.container{
  display: grid;
  grid-template-columns: 1fr minmax(100px, 100px) 140px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.action-button{
  width: 140px;
  margin-left: auto;

  &:hover{
    background-color: var(--button-hover);
    outline: 1px solid transparent;
  }

  &:focus {
    background-color: var(--button-hover);
    outline: 1px solid var(--button-color);
  }
}

.amount{
  width: 70px;
  margin-inline: 0.5rem;
  text-align: right;
}